p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    padding-bottom: 25px;
}

h1 {
    padding-left: 15px;
    color: #64e688;
    font-size: 50px;
    font-weight: 700;   
}

h2,h3 {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;   
    padding-bottom: 10px;
}

h3 {
    color: #64e688;
    font-size: 16px;
}

b {
    color: #64e688;
}

ul {
    list-style-type: '-';
    padding-bottom: 20px;
    padding-left: 10px;
}

li {
    padding-left: 5px;
}

footer {
    padding-bottom: 100px;
}