*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #070707;
    font-size: 100%;
}

main{
    border-top: 1px solid  #64e688;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: #070707;
}

.main_header{
    color: #64e688;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
    border-top: 1px solid  #64e688;
    border-left: 1px solid #64e688;

}


.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .header{
    position: absolute;
    top: 45px;
    right: 0px;
    min-width: 100%;
    height: 100%;
    transform: translateY(0px);
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .header{
    transform: translateY(100px);
    opacity: 0;
}


.container .card .header .title1{
    position: absolute;
    top: 200px;
    right: 110px;
    font-size: 3em;
    color:  #64e688;
}
.container .card .header .title2{
    position: absolute;
    top: 200px;
    right: 40px;
    font-size: 3em;
    color:  #64e688;
}
.container .card .header .title3{
    position: absolute;
    top: 200px;
    right: 60px;
    font-size: 3em;
    color:  #64e688;
}



.container .card .img{
    position: absolute;
    top: 1px;
    right: 40px;
    min-width: 50%;
    height: 50%;
}

.container .card .content h3{
    font-size: 1.8em;
    color:  #64e688;
    z-index: 1;
}

.container .card .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background:  #64e688;
    color: #000;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 5);
}